
@{
    ViewData["Title"] = "Contatos";
}


<form>
    <fieldset>
        <legend>Cadastro de contatos</legend>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input class="form-control" id="nome" aria-describedby="nomeHelp" placeholder="Insira o nome completo" type="text" required>
            <small id="nomeHelp" class="form-text text-muted">Por favor, insira o nome completo.</small>
        </div>
        <div class="form-group">
            <label for="nome">Email</label>
            <input class="form-control" id="email" aria-describedby="emailHelp" placeholder="Insira um email válido" type="email" required>
        </div>
        <div class="form-group">
            <label for="nome">Data de Nascimento</label>
            <input class="form-control" id="data" type="date" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </fieldset>
</form>
